<!-- extend base layout -->
{% extends "admin/master.html" %}
{% block body %}
    {% if admin_view.db_inspections is defined and  admin_view.db_inspections|length > 0 %}
    <div class="row m-b ">
        <div class="col-xs-12"><a href="{{ url_for('.webhook_inspector_clear') }}" class="btn btn-danger">Clear inspections</a></div>
        <br />
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
             {% if admin_view.db_inspections is defined and  admin_view.db_inspections|length > 0 %}
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Method</th>
                        <th>URL</th>
                        <th>Remote ip</th>
                        <th>Remote ip</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for a in admin_view.db_inspections %}
                        <tr>
                            <td><span class="timeago"
                                      data-timestamp="{{ a.timestamp }}">{{ parseTime(a.timestamp) }}</span>
                            </td>
                            <td>{{ a.method }}</td>
                            <td>{{ a.path }}</td>
                            <td>{{ a.ip }}</td>
                            <td>
                                <a href="{{ url_for('.webhook_inspector_show', guid=a.guid) }}">Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             {% else %}
                    No inspections, yet!
            {%  endif %}
            </div>
            <!-- /.table-responsive -->
        </div>

{% endblock %}