<!-- extend base layout -->
{% extends "admin/master.html" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% for comm in comms %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}
                        {% set inactive="active" %}
                    {% endif %}
                    <li class="{{ inactive }}">
                        <a href="#services-{{ comm }}" data-toggle="tab">{{ comm | title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for comm in comms %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}
                        {% set inactive="in active" %}
                    {% endif %}
                    <div class="tab-pane fade {{ inactive }}" id="services-{{ comm }}">
                        <h4>{{ comm | title }}</h4>
                        <div class="row-striped service-config">
                             {% if comms[comm].get_comm_config_model() %}
                             {% with fields=comms[comm].get_comm_config_model(), config=admin_view.app_config.comms[comm], field_prefix=comm %}
                                {% include "admin/helper/form/form.html" %}
                            {% endwith %}
                                 {% else %}
                                 No config options available!
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}