<!-- extend base layout -->
{% extends "admin/master.html" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% for comm in comms %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}

                        {% set inactive="active" %}
                    {% endif %}
                    <li class="{{ inactive }}">
                        <a href="#services-{{ comm }}" data-toggle="tab">{{ comm | title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for comm in comms %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}
                        {% set inactive="in active" %}
                    {% endif %}
                    <div class="tab-pane fade {{ inactive }}" id="services-{{ comm }}">
                        <h4>{{ service | title }}</h4>
                            {{ comms[comm].get_config_template() | safe }}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}