<!-- extend base layout -->
{% extends "admin/master.html" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <form method="POST" class="inspector_config_form">

                    {% with fields=form, config=admin_view.app_config.get('inspector', {}), wide=false, field_prefix='inspector' %}
                        {% include "admin/helper/form/form.html" %}
                    {% endwith %}

                 <input type="submit" class="btn btn-success" value="Save"/>
            </form>
        </div>
    </div>
{% endblock %}