<!-- extend base layout -->
{% extends "admin/master.html" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% for service in services %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}

                        {% set inactive="active" %}
                    {% endif %}
                    <li class="{{ inactive }}">
                        <a href="#services-{{ service }}" data-toggle="tab">{{ service | title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for service in services %}
                    {% set inactive="" %}
                    {% if loop.index == 1 %}
                        {% set inactive="in active" %}
                    {% endif %}
                    <div class="tab-pane fade {{ inactive }}" id="services-{{ service }}">
                        <h4>{{ service | title }}</h4>

                        <div class="row-striped service-config">
                             {% if services[service].get_service_config_model() %}
                             {% with fields=services[service].get_service_config_model(), config=admin_view.app_config.services[service] %}
                                {% include "admin/helper/form/form.html" %}
                            {% endwith %}
                                 {% else %}
                                 No config options available!
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}