<!-- extend base layout -->
{% extends "admin/master.html" %}

{% block body %}
    <form method="POST" class="telegram_bot_settings">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#telegram-settings" data-toggle="tab">Settings</a>
                    </li>
                    <li>
                        <a href="#telegram-commands" data-toggle="tab">Commands</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="telegram-settings">
                        <h4>Settings</h4>

                        <div class="service-config">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    {% with fields=form, config=bot_config, wide=true, field_prefix='telegram' %}
                                        {% include "admin/helper/form/form.html" %}
                                    {% endwith %}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="row field-array">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-2">
                                            <span class="service-label">Admins</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            {% with name='admins', value=bot_config.get('permissions', {}).get('admins', []),field_prefix='telegram[permissions]' %}
                                                {% include "admin/helper/form/array.html" %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="row field-array">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-2">
                                            <span class="service-label">Moderators</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            {% with name='moderators', value=bot_config.get('permissions', {}).get('moderators', []),field_prefix='telegram[permissions]' %}
                                                {% include "admin/helper/form/array.html" %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="submit" class="btn btn-success" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="telegram-commands">
                        <h4>Commands</h4>
                        <ul class="nav nav-pills nav-stacked col-md-3">
                            {% for command in bot_commands %}
                                {% set inactive="" %}
                                {% if loop.index == 1 %}

                                    {% set inactive="active" %}
                                {% endif %}
                                <li class="{{ inactive }}"><a href="#command-config-{{ command }}"
                                                              data-toggle="tab">{{ command | title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content col-md-9">
                            {% for command in bot_commands %}
                                {% set inactive="" %}
                                {% if loop.index == 1 %}
                                    {% set inactive="in active" %}
                                {% endif %}
                                <div class="tab-pane fade {{ inactive }}"
                                     id="command-config-{{ command }}">
                                    <h4>{{ command | title }}</h4>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>
                                                {{ bot_commands[command].get_description() }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row-striped service-config">
                                        {% if bot_commands[command].command_template() %}
                                            {% with fields=bot_commands[command].command_template(), config=admin_view.app_config.get('services', {}).get('telegram', {}).get('plugins',{}).get(command, {}) , field_prefix='telegram.plugins.'+ command %}
                                                {% include "admin/helper/form/form.html" %}
                                                <input type="submit" class="btn btn-success"
                                                       value="Save"/>
                                            {% endwith %}
                                        {% else %}
                                            No config options available!
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}