<!-- extend base layout -->
{% extends "admin/master.html" %}

{% from "admin/macros/dashboard/counticon.html" import count_icon %}
{#{% from "admin/macros/dashboard/areachart.html" import area_chart %}#}
{#{% from "admin/macros/dashboard/barchart.html" import bar_chart %}#}
{#{% from "admin/macros/dashboard/timeline.html" import timeline %}#}
{#{% from "admin/macros/dashboard/notification.html" import notification %}#}
{#{% from "admin/macros/dashboard/donut.html" import donut %}#}
{#{% from "admin/macros/dashboard/chat.html" import chat %}#}

{% block body %}
<div class="row">
	<div class="col-lg-3 col-md-6">
		{{count_icon(26, "Hooks processed!", "comments", "primary", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(12, "Projects configured!", "tasks", "green", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(124, "Webhook inspections preformed!", "shopping-cart", "green", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(13, "Errors during processing!", "support", "red", "#")}}
	</div>
</div>

	
{% endblock %}
