<!-- extend base layout -->
{% extends "admin/master.html" %}

{% from "admin/macros/dashboard/counticon.html" import count_icon %}
{% from "admin/macros/dashboard/areachart.html" import area_chart %}
{% from "admin/macros/dashboard/barchart.html" import bar_chart %}
{% from "admin/macros/dashboard/timeline.html" import timeline %}
{% from "admin/macros/dashboard/notification.html" import notification %}
{% from "admin/macros/dashboard/donut.html" import donut %}
{% from "admin/macros/dashboard/chat.html" import chat %}

{% block body %}
<div class="row">
	<div class="col-lg-3 col-md-6">
		{{count_icon(26, "New Comments!", "comments", "primary", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(12, "New Tasks!", "tasks", "green", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(124, "New Orders!", "shopping-cart", "yellow", "#")}}
	</div>
	<div class="col-lg-3 col-md-6">
		{{count_icon(13, "Support Tickets!", "support", "red", "#")}}
	</div>
</div>

<div class="row">
    <div class="col-lg-8">
        {{area_chart("Area Chart Example")}}
        {{bar_chart("Bar Chart Example")}}
        {{timeline("Responsive Timeline")}}
    </div>
    <div class="col-lg-4">
        {{notification("Notifications Panel")}}
        {{donut("Donut Chart Example")}}
        {{chat("Chat")}}
    </div>
</div>
	
{% endblock %}

{% block tail %}

    <!-- Timeline CSS -->
    <link href="/admin/dist/css/timeline.css" rel="stylesheet">

    <!-- Morris Charts JavaScript -->
    <script src="/admin/bower_components/raphael/raphael.js"></script>
    <script src="/admin/bower_components/morrisjs/morris.min.js"></script>
    <script src="/admin/js/morris-data.js"></script>
{% endblock %}