<!-- extend base layout -->
{% extends "admin/loginbase.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel">
                    <img class="img-responsive m-b"
                         src="https://demo.identihub.co/assets/Chat'n'Hook_ICONS_18.svg">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">

                            <a class="btn btn-block btn-social btn-github"
                               href="{{ github_login }}">
                                <span class="fa fa-github"></span> Sign in with GitHub
                            </a>
                            <h3>Not working</h3>
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>
                            <a class="btn btn-block btn-social btn-twitter">
                                <span class="fa fa-twitter"></span> Sign in with Twitter
                            </a>
                            <a class="btn btn-block btn-social btn-dropbox">
                                <span class="fa fa-dropbox"></span> Sign in with Dropbox
                            </a>
                            <a class="btn btn-block btn-social btn-microsoft">
                                <span class="fa fa-windows"></span> Sign in with Microsoft Azure
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
